@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');
@font-face {
    font-family: norse-bold;
    src: url(/fonts/Norse-Bold.otf); 
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gemunu Libre', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#0A3156;
}

em{
    color: red;
}

#top {
    color: azure;
    height: 30vh;
    width: 65vw;
    font-size: x-large;
    text-align: left;
    padding-left: 50px;
    padding-top: 100px;
    opacity: .7;
}

#bg-image {
    width: 35vw;
    height: 100vh;
    background-size: cover;
    background-image: url(images/sega.avif);
    background-repeat: no-repeat;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
}

#attention {
    background-color:rgba(255, 255, 255, 0.796);
    color: darkorange;
    padding: 75px;
    text-align: flex start;
    padding-left: 290px;
    border-color: black;
    border-width: 2px;
    border-style: inset;
    font-size: 75px;
}

#form-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 30vh;
    width: 65vw;
    gap: 5rem;
}

label{
    color: darkorange;
}

input {
    margin: 12px;
    background-color: azure;
    display: block;
    width: 325px;
    padding: 8px;
    margin-left: 50px;
    font-size: large;
    border: limegreen;
    border-width: 3px;
    border-style: solid;
}

#bottom {
    color: azure;
    padding: 50px;
    height: 30vh;
    width: 65vw;
    align-self: flex-end; 
}

button {
    height: 65px;
    width: 350px;
    border-radius: 15px;
    font-size: x-large;
    background-color:#0967B3;
    margin-bottom: 20px;
    border: outset;
    border-color: black;
    border-width: 3px;
    color: darkorange;
}

#transparent-section{
    color: azure;
    font-size: 110px;
    font-family: norse-bold;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.692);
    opacity: .7;
    height: 200px;
    margin-top: 338px;
}

#odin-logo{
    margin-left: 75px;
    background-color: inherit;
} 

a{
    color: greenyellow;
    text-decoration: none;
    font-size: 20px;
}

#ivan{
    padding-left: 200px;
    background-image: inherit;
    position: absolute;
    bottom:0%;
    text-decoration: none;
    color: whitesmoke;
    font-size: small;
}

input:focus{
    border: dotted;
    border-width: 4px;
    border-color: limegreen;
    outline:none;
}

button:hover{
    color: limegreen;
    border-color: azure;
}

#e_mail:invalid{
    border-color: red;
}
